{{#each blogs}}
<div class="blogContainer">
  <h2 id="blogTitle">
    <a href="/blogs/{{this.id}}">{{this.title}}</a>
  </h2>
  <p id="blogAuthor">@{{this.author}}</p>
  {{formatDate this.createdAt}}
  <p id="blogText">{{truncate this.text 200}}</p>
</div>
{{/each}}

